.postButton {
    width: 120px;
    height:40px;
    border-radius: 20%;
    background-color: dodgerblue;
    color: white;
    right: 0px;
    padding: 5px;
    margin-top:10px;
  }
  span {
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(71, 69, 69);
  }
  label{
    font-weight: bold;
  }
  