.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  text-align: left;
  margin: 10px;
  border: 2px solid black;
}

.items {
  border: 2px solid black;
  padding: 6px 0;
  font-size: 16px;
  margin: 10px;
}

.header {
  grid-row: 1;
  grid-column: 1;
}
.body {
  grid-row: 2;
  grid-column: 1;
}
