.form-container {
  display: grid;
  width: auto;
  text-align: left;
  align-content: left;
  margin: 10px;

  margin: 10px;
}
form input {
  width: 100%;
}
.submitButon {
  width: auto;
  background-color: dodgerblue;
  color: white;
  right: 0px;
  padding: 5px;
}
